CONTENT_ENDPOINT=your_content_endpoint_here
CONTENT_TOKEN=your_content_token_here
ELASTIC_URL='https://localhost:9200'
ELASTIC_USERNAME='elastic'
ELASTIC_PASSWORD='pwd'
PORT=3000

NODE_TLS_REJECT_UNAUTHORIZED = '0' 

# use https://appdevtools.com/bcrypt-generator
API_KEY_HASH=insert_api_key_sha_256

# Only needed for the test file - can be deleted
API_KEY=insert_api_key